* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    background-color: #000;
  }
  .app {
    height: auto;
    width: 100vw;
  }
  .app > h1 {
    color: #fff;
    text-align: center;
    font-size: calc(10px + 5vw);
  }
  .container {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    place-items: center;
  }
  .photo {
    height: 30vmin;
    width: 30vmin;
  }
  .loader {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: calc(10px + 1vw);
  }
  .cirle {
    border: 4px solid grey;
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;
    border-top: 4px solid black;
    animation: rotate 0.75s infinite ease-in forwards;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .small{
    display: flex;
    color: white;
    flex-direction: column;
  }